[Desktop Entry]
Name=Rustitles
Comment=Subtitle Downloader Tool
Exec=rustitles
Icon=rustitles
Terminal=false
Type=Application
Categories=AudioVideo;Video;Utility;
